<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <div class="content">
    <form action="" [formGroup]='createuserform' (ngSubmit)="submitForm()">
      <label for="username">Username</label>
      <input type="text" id="uname" name="username" formControlName="username">
      <br>
      <label for="password">Password</label>
      <input type="password" id="pword" name="password" formControlName="password">
      <br>
      <button type="submit">Submit</button>
    </form> 
  </div>
  
</main>

<!-- <form action="" (submit)="onSubmit()">
      <label for="username">Username</label>
      <input type="text" id="uname" name="username" [(ngModel)]="user.username">
      <br>
      <label for="password">Password</label>
      <input type="password" id="pword" name="password" [(ngModel)]="user.password">
      <br>
      <button type="submit">Submit</button>
    <p>{{user|json}}</p>-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
